accelerate==0.21.0
bitsandbytes==0.45.1
deepspeed==0.12.6
flash-attn==2.3.6
huggingface-hub==0.27.1
matplotlib==3.10.0
numpy==1.26.4
pandas==2.2.3
peft==0.14.0
requests==2.32.3
scipy==1.15.1
seaborn==0.13.2
sentencepiece==0.1.99
torch==2.1.2
torchaudio==2.1.2+cu121
torchvision==0.16.2
tqdm==4.67.1
transformers==4.49.0.dev0
pyyaml==6.0.2
